/* fonts */
* { padding: 0; margin: 4px; }

h1 {
    font-family: 'Paytone One', sans-serif;
}
h2 {
    font-family: 'Paytone One', sans-serif;
    font-size: 95%;
}
h3 {
    font-family: 'Paytone One', sans-serif;
}
p {
    font-family: 'Montserrat', sans-serif;
}
.longBreak {
    content: "";
    margin: 5em;
    display: block;
    font-size: 100%;
}

/* header */
.flex-container {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

header img {
    width: 150px;
    height: 50px;
}

/* metrics */
.wrapper {
    display: flex;
}

.wrapper > div {
    color: black;
    flex: 1;
    align-items: center;
}

.green {
    color:green;
    font-size: x-large;
}

.blue {
    color: blue;
}

.item {
    flex: 1 0;
    align-content: center;
    text-align:center;
}

.summaryStats {
    content: "";
    margin: 1.5em;
    display: block;
    font-size: 25%;
}

/* charts */
* {
    box-sizing: border-box;
    }
.Charts img {
    object-fit: fill;
}
.row {
    display: flex;
    }
.column {
    margin-left: 1%;
    flex: 33.33%;
    padding: 0px;
    align-items: center;
}
iframe {
    margin-bottom: 0%;
    border: none;
    margin-left: -10%;
    width:120%; 
    height:110%;
}
figcaption {
    display: block;
    height: 8%;
    caption-side: top;
    text-align: center;
    color:#4e4d4e;
    margin-right: 15%;
    padding: 0px;
    border-bottom: none;
}
.pie {
    width: 85%;
}
.bar {
    width: 80%;
}

/* statsTable */
.statsTable {
    padding-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}
.boldText {
    font-weight: bolder;
}
#colored {
    background-color: lightgrey;
}
.staticTable {
    margin-left:12.5%; 
    margin-right:12.5%;
    width: 75%;
    border: 2px solid black;
}
.statsTable td, th, tr {
    border: 1px solid black;
    text-align: center;
}
.greyCell {
    background-color: lightgrey;
}
.whiteCell {
    background-color: white;
}

/* dialog */
dialog h3 {
    font-size: 15px;
}

/* orderForm */
.orderText {
    padding-left: 10px;
}
fieldset {
    border : none;
}
.paymentTypes{
    height: 80px;
    width: 80px;
    margin-left: -5px;
}
details {
    padding-bottom: 20px;
}
summary {
    padding-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
}
button {
    border-radius:0px;
    font-size: 14px;
}

/* footer */
ul {
    padding-left: 45px;
    margin: 5px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.disclaimer {
    margin-bottom: 1em;
}